@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
}



.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(185, 185, 185);
  text-decoration: none;
}

nav a {
  margin: 0 1rem;
  color:  rgb(53, 53, 53);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: color 0.1s ease; 
}

nav a:hover {
  color: #ececec; 
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #000000; 
  visibility: hidden;
  opacity: 4;
  font-size: 1.8rem;
  transition: visibility 0.3s ease, opacity 0.3s ease; 
}

.navbar-dropdown {
  /* Assume this is the class for your navbar dropdown */
  z-index: 100; }

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(185, 185, 185); 
    transition: transform 1s ease;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
